* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul li {
	list-style-type: none;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.3s;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}

/* HEADER */

header {
	margin: 20px 0px;
}

.container {
	padding: 0 10px;
	max-width: 1153px;
	margin: 0 auto;
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #22262a;
}

.header-title {
	font-size: 28px;
	font-weight: 700;
	line-height: 42px;
}


.header-nav {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	text-transform: uppercase;
}

.header-link:hover {
	color: #9754B5;
}

.header-buttons {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.header-btn {
	display: block;
}


/* INTRO */
#intro-section {
	background: 
	url(../images/intro/intro-bg.png) 
	50%/cover no-repeat;
	height: 745px;
	position: relative;
}

.intro {
	position: absolute;
	left: 57%;
	top: 57%;
}

.intro-uptitle,
.intro-subtitle {
	font-weight: 500;
	line-height: 27px;
}

.intro-title {
	font-size: 80px;
	font-weight: 700;
	line-height: 100px;
}

.intro-subtitle {
	margin-bottom: 31px;
}

.intro-btn {
	display: flex;
	gap: 34px;
}

.intro-discover-btn,
.intro-shop-btn {
	display: block;
	text-align: center;
	padding: 5px 25px;
	max-width: 147px;
	background-color: #22262A;
	color: #fff;
}

.intro-discover-btn:hover,
.intro-shop-btn:hover {
	background-color: #9754b5;
}

/* CATEGORY */
#category-section {
	margin: 123px 0 113px;
}

.category-wrap {
	display: grid;
	gap: 23px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.category-img {
	display: block;
	width: 100%;
	height: 100%;
}

.category-img {
	opacity: 1;
}

.category-img:hover {
	opacity: 0.7;
}

.category-link-1 {
	grid-column: 1/3;
}

.category-link-2 {
	grid-column: 3/5;
	grid-row: 1/3;
}

.cat-hover {
	position: relative;
}

.cat-hover:hover::before {
	position: absolute;
	z-index: 1;
	content: 'Category name';
	left: 25px;
	bottom: 25px;
	padding: 4px 24px;
	color: #22262A;
	font-weight: 500;
	line-height: 27px;
	background-color: #fff;
	text-transform: uppercase;
	opacity: 1;
}


/* WOMEN */

#gender-section {
	margin-bottom: 111px;
}

.gender-wrap {
	text-align: center;
}

.gender-title {
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
}

.gender-subtitle {
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	margin: 15px 0 65px;
}

.card {
	display: flex;
	justify-content: space-between;
	text-align: left;
	gap: 22px;
}

.card-img {
	width: 268px;
	height: 371px;
	opacity: 1;
}

.card-img:hover {
	opacity: 0.7;
}

.card-uptitle {
	margin: 38px 0 3px;
	font-size: 15px;
	font-weight: 300;
	line-height: 23px;
	color: #22262a;
}

.card-title {
	font-size: 15px;
	font-weight: 600;
	line-height: 23px;
	color: #22262a;
}

.card-title:hover {
	color: #9754b5;
}

.card-price {
	display: flex;
	gap: 15px;
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	margin-top: 3px;
}

.old-price {
	text-decoration: line-through;
	color: #22262a;
}

.new-price {
	color: #CF2929;
}


/* AVONE */

#avone-section {
	margin-bottom: 121px;
}

.avone-info {
	text-align: center;
}

.avone-subtitle {
	margin-bottom: 60px;
}


.avone-pic {
	display: flex;
	height: 700px;
	justify-content: space-between;
}

.avone-left {
	width: 49%;
	height: 100%;
	background: url(../images/avone/left.jpeg) 50% 100%/550px no-repeat;
}


.avone-right {
	position: relative;
	width: 49%;
	height: 100%;
	background: url(../images/avone/right-1.jpeg) 0% 0%/515px no-repeat;
}


.avone-right::after {
	position: absolute;
	content: '';
	bottom: 0;
	right: 0;
	height: 303px;
	width: 252px;
	background: #fff url(../images/avone/right-2.jpeg) 100% 100% no-repeat;
}


.avone-link {
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	color: #22262a;
	position: absolute;
	bottom: 36px;
	left: 123px;
}

.avone-link::after {
	position: absolute;
	bottom: -4px;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #22262a;

	transition: 0.3s;
}

.avone-link:hover {
	color: #9754B5;
}

.avone-link:hover::after {
	background-color: #9754B5;
}

/* OWN */

#own-section {
	background: url(../images/own-bg.jpeg) 50%/cover no-repeat;
}

.own-wrap {
	height: 745px;
	position: relative;
}

.own-info {
	position: absolute;
	left: 0;
	bottom: 129px;
}

.own-uptitle {
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
}

.own-title {
	font-size: 80px;
	font-weight: 700;
	line-height: 100px;
}

.own-link {
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	padding: 4px 25px;
	color: #fff;
	background-color: #22262A;
}

.own-link:hover {
	background-color: #9754B5;
}

/* FOOTER */

footer {
	background-color: #f2f8fc;
	color: #22262a;
}

.footer-top {
	padding-top: 115px;
	display: flex;
	gap: 196px;
}

.footer-info {
	max-width: 406px;
}

.footer-title {
	font-size: 25px;
	font-weight: 700;
	line-height: 38px;
}

.footer-text {
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	margin-top: 17px;
}

.f-search-title {
	font-size: 25px;
	font-weight: 700;
	line-height: 38px;
}

.footer-form {
	margin-top: 24px;
	width: 532px;
	height: 45px;
	position: relative;
}

.footer-input {
	background-color: #fff;
	width: 100%;
	border: silver 1px dotted;
	border-radius: 5px;
	padding: 11px 0 11px 24px;
}

.footer-btn {
	font-size: 15px;
	font-weight: 600;
	line-height: 23px;
	top: 9px;
	right: 23px;
	position: absolute;

	transition: 0.3s;
}

.footer-btn:hover {
	color: #9754B5;
}


.footer-bottom {
	padding-top: 41px;
	padding-bottom: 106px;
	display: flex;
	justify-content: space-between;
}

.footer-b-info {
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	color: #22262a;
}

.footer-email-wrap {
	margin: 16px 0px;
}

.footer-email {
	position: relative;
}

.footer-email::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #000000;
	left: 0;
	bottom: 0;
}


.footer-nav-wrap {
	display: flex;
	width: 47%;
	justify-content: space-between;
}

.footer-item-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	margin-bottom: 27px;
}

.footer-i {
	margin-bottom: 21px;
}

.footer-i:last-child {
	margin: 0;
}

.footer-link {
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
}

.footer-link:hover {
	color: #9754B5;
}

#under-footer {
	background-color: #E7F5F8;
}

.un-footer-text {
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	color: #22262A;
	padding: 35px 0;
	text-align: center;
}